#voltorb_game {
    background-color: #28a068;
    margin: auto;
    height: 600px;
    width: 800px;
    padding: 10px;
    font-family: sans-serif;
}

#numGrid {
    float: left;
    margin-bottom: 10px;
}

#numGrid tr th,
td {
    border: solid;
    border-color: white;
    border-radius: 5px;
    height: 85px;
    width: 85px;
    margin: 2.5px;
    display: inline-block;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #188060;
}

#numGrid tr #head1, #numGrid tr #head6{
    background-color: #e77352;
    color: #424242;
}

#numGrid tr #head2, #numGrid tr #head7{
    background-color: #42ad42;
    color: #424242;
}

#numGrid tr #head3, #numGrid tr #head8{
    background-color: #efa539;
    color: #424242;
}

#numGrid tr #head4, #numGrid tr #head9{
    background-color: #3194ff;
    color: #424242;
}

#numGrid tr #head5, #numGrid tr #head10{
    background-color: #c663e7;
    color: #424242;
}

.playfield {
    font-size: 40px;
}

.voltorb {
    display: block;
    width: 50%;
    height: 50%;
    float: left;
}

.voltorb img {
    width: 90%;
    height: 90%;
    margin-top: 2.5px;
    margin-left: 2.5px;
}

.one {
    display: block;
    float: right;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 35px;
    color: #f8c019;
}

.two {
    display: block;
    float: left;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 35px;
    color: #f8c019;
    bottom: 0;
}

.three {
    display: block;
    float: right;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 35px;
    color: #f8c019;
    bottom: 0;
}

#scoreTab {
    float: right;
    width: 25%;
}

#memo {
    height: 175px;
    background-color: #aaa9a8;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}

#memopick {
    height: 175px;
    background-color: #c77351;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}

#memopick img {
    margin-top: 10px;
}

.coinCounter {
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: #404040;
    border-radius: 5px;
    color: #424242;
    max-width: 97%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.startBtn {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 100%;
    height: 93px;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: #404040;
    border-radius: 5px;
    color: #424242;
    background-color: #aaa9a8;
    
}

.memopick_inner {
    width: 45%;
    height: 45%;
    float: left;
    border-style: solid;
    border-color: #404040;
    color: white;
    margin: 1px;
}

#lose{
    display: none;
}

#lose img{
    position: fixed;
    top: 10%;  
    right: 25%;
    width: 500px;
    height: 500px;}

#win{
    position: fixed;
    top: 25%;  
    left: 40%;
    display: none;
}
